[class*=sidebar-dark-] {
    background-color: #3b5fcf;
}
.layout-navbar-fixed .wrapper .sidebar-dark-primary .brand-link:not([class*=navbar]) {
    background-color: #3b5fcf;
}
.navbar-dark {
    background-color: #fdfeff;
    border-color: #4b545c;
    color: black !important;
}
[class*=sidebar-dark] .btn-sidebar, [class*=sidebar-dark] .form-control-sidebar {
    background-color: #41917b;
    border: 1px solid #62c8ac;
    color: #fff;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(51 38 38 / 75%);
}
.content-wrapper{
    
        background-image: url("../images/customer.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        
}